
* {
	/* border: 2px solid green; */
}

body {
	background-color: rgb(202, 236, 244);
}

main > article > section {
	margin: 2rem 2rem;
	padding: 1.5rem;
	background-color: #FFFFFF;
	border-radius: 40px;
	box-shadow: 0px 0px 5px 2px gray;
    margin-bottom: 1.5em;
}

article, section {
	display: block;
}

aside.left {
	margin: 0 1.5rem 0 0;
	height: 100%;
}

aside.left img{
    padding: 1.5em 1.5em 1.5em 1.5em;
    max-width: 10em;
}

aside.right {
	margin: 0 0 0 1.5rem;
}

img.book-cover {
	width: 10em;
	height: auto;
}

img.rating {
	width: 10rem;
	height: auto;
}

img.img-bio{
    float: left;
    border-radius: 50%;
    padding: 1.5em 1.5em 1.5em 1.5em;
    max-width: 7.5em;
}

img.type-image{
    float: left;
    padding: 1.5em 1.5em 1.5em 1.5em;
    width:  10em;
    height: 10em;
    object-fit: cover;

}

img.product-image{
    padding: 1.5em 1.5em 1.5em 1.5em;
}

a.book-title:link{
    font-family: "Times New Roman", Times, serif;
    font-size: 1.5em;
    color: rgb(15, 21, 138);
    display:inline;
}

a.book-cover:hover, a.book-cover:active{
    color:rgb(128, 40, 6);

}

.return{
    margin-left: 4em;
    margin-right: 1.5em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

form{
    background-color: rgb(250, 187, 116);
    margin: 2rem 2rem;
	padding: 1.5rem;
	border-radius: 40px;
	box-shadow: 0px 0px 5px 2px gray;
}

legend{
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
    color:rgb(47, 51, 54);
}

label{
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.75em;
    color:rgb(47, 51, 54);
}

input{
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.75em;
    color:rgb(47, 51, 54);
}

ul.product-list{
    display: inline-block;
    list-style-type: circle; 
    list-style-position: inside;
    padding: 0;
    margin: 1.5em;
    vertical-align: bottom;
    text-align: left;

}

ul.product-list li{
    margin-top: 0.725em;
    font-size: 0.875em;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

ul.product-list li:first-child{
    margin-top:0;

}

summary{
    font-size: 2em;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


p.short-description {
	font: 1.5em 'Times New Roman', serif;
    margin-right: 15em;
}

p.extended-description {
	font: 1.0em 'Times New Roman', serif;
}

span.product-code {
    padding: 1.5em 1.5em 1.5em 1.5em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    font-style: italic;
}

span.price {
	font-family: 'Times New Roman', Times, serif;
    font-size: 3.5em;
}

strong {
	font: bold 1.8em 'Georgia', serif;
}



/* TODO: replace this hacky code on Exercise3 */
/* https://stackoverflow.com/questions/218760/how-do-you-keep-parents-of-floated-elements-from-collapsing */
aside.left {
	float: left;
}

aside.left * {
	/* float: left; */
	display: block;
}

aside.right {
	float: right;
}

section::after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
}

header#header{
    background-image: linear-gradient(to bottom right, rgb(57, 126, 196), rgb(153, 204, 255));
    border-radius: 3.5em;
}


header#header img {
    height: auto;
    margin-left: 25em;
    margin-right: auto;
    padding-top: 1.2em;
    width: 12em;
    display:inline;
    pointer-events: none;
}

header#header h1{
    font-family: "Times New Roman", Times, serif;
    font-size: 3.5em;
    background: -webkit-linear-gradient(rgb(201, 137, 42), rgb(8, 1, 20));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-left:3.2em;;
    display:inline;
    pointer-events: none;
}

header#header ul{
    display: table;  
    margin: 0 auto;
    min-width: 43.5em;
    list-style: none;
    padding-top: 1.25em;
    font-size: 1.5em;
    }

    header#header ul li {
        display: inline-block;
        padding: 0.875em 1.5625em;

    }

    header#header a.test:link {
        color: black;
        text-decoration: none;
        background-color: rgb(208, 230, 245);
        padding: 0.875em 1.5625em;
        border-radius: 3.5em;
        display: inline-block;
        font-family: "Lucida Console", "Courier New", monospace;

    }

    header#header a.test:visited {
        color: purple;
        text-decoration: none;
        background-color: rgb(208, 230, 245);
        padding: 0.875em 1.5625em;
        border-radius: 3.5em;
        display: inline-block;
        font-family: "Lucida Console", "Courier New", monospace;
    }


header#header a.test:hover, a.test:active {
    text-decoration: underline;
    background-color: rgb(65, 168, 236);
    padding: 0.875em 1.5625em;
    border-radius: 3.5em;
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Lucida Console", "Courier New", monospace;
    }

footer{
    background: rgba(153, 204, 255, 0.3);
    background: linear-gradient(to bottom, rgba(62, 77, 92, 0.83), rgba(116, 169, 223, 0.64)), url("https://w0.peakpx.com/wallpaper/964/736/HD-wallpaper-piano-keys-macro.jpg")  no-repeat center fixed;
    background-size: cover;
    border-radius: 3.5em; 

}

footer img {
    height: auto;
    margin-left: 1.5em;
    margin-right: 1.5em;
    padding-top: 1.2em;
    width: 5em;
    float:left;
}

footer>address#contact {
    padding-top: 1.25em;
    font-size: 1em;
    text-decoration: solid;
    font-family: "Lucida Console", "Courier New", monospace;
    color:aliceblue;
    line-height: 3em;
    margin-left: 1.5em;
    margin-right: auto;
    display:inline-block;
}

footer>address#contact> a:hover, a:active{
    color: red;
    text-decoration: underline;
}

footer>a#stop {
    font-size: 2em;
    text-decoration: underline;
    
}

footer ul{
    display: table;  
    margin: 0 auto;
    min-width: 43.5em;
    list-style: none;
    padding-top: 1.25em;
    font-size: 1.5em;
    }

footer ul li {
    display: inline-block;
    padding: 0.875em 1.5625em;
    color:aliceblue;

}

h2.social {
    color:aliceblue;
    text-decoration: solid;
    font-family: "Lucida Console", "Courier New", monospace;
    display:inline-block;
}

a#top{
    text-decoration: none;
    display: inline-block;
    margin-left: 55em;
    margin-right: auto;
    font-size: 1.5em;
}

h2 {
    margin-left: 1.5em;
    margin-right: 1.5em;
    padding-top: 0.75em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
}

input:not([type="submit"], [type="reset"]){
    border-width: 0.25em;
    width: 100%;
    padding: 0.75em 1.25em;
    margin: 0.5em 0;
    box-sizing: border-box;
}

fieldset#field1{
    background-color: rgb(253, 229, 120);
    padding: 0.75em 1.25em;
    margin-bottom: 1.5em;
}

fieldset#field2{
    background-color: rgb(253, 229, 120);
    padding: 0.75em 1.25em;
    margin-bottom: 1.5em;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #33bcdf;
    border: none;
    color: white;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 0.25em 0.125em;
    cursor: pointer;
    border-radius: 0.5em;
}


