
* {
	margin: 0;
	padding: 0;
	/* border: 2px solid green; */
}

body {
	background-color: rgb(202, 236, 244);
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 2fr 7fr;
    grid-gap: 1rem;
    align-items: start;
}

body>main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 1rem;
	padding: 1rem;

	grid-column: 2;
	grid-row: 2;
}

main>article>section {
	padding: 1.2rem;
	background-color: #FFFFFF;
	border-radius: 30px;
	box-shadow: 0px 0px 5px 2px gray;
}

main>header>h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
}

img.product-preview {
    padding: 0 1.5rem 1.5rem 0;
    /* max-height: 20%;*/
    width: 12rem;
    height: auto;
    display: block;
}

img.product-image {
	height: 15rem;
	width: auto;
}

img.product-image:hover {
	height: 40rem;
	width: auto;
}

img.rating {
	width: 10rem;
	height: auto;
}

img.img-bio {
    border-radius: 50%;
    padding: 1.5rem;
    max-width: 7.5rem;
}

img.type-image {
    padding: 0 1.5rem;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
}

body>main>article {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.5rem
}

/* https://getpublii.com/blog/one-line-css-solution-to-prevent-anchor-links-from-scrolling-behind-a-sticky-header.html */
body>main>article.single-product>section {
	scroll-margin-top: 7rem;
}

body>main>article.single-product,
body>main>article#tech-support {
	grid-template-columns: repeat(1, 1fr);
}

body>main>article>section>header {
	display: block;
}

body>main>article>section>header>strong {
	font: bold 1.8rem 'Georgia', serif;
}

body>main>article>section>header>strong>a:link, body>main>article>section>header>strong>a:visited{
    color: rgb(15, 21, 138);
    text-decoration: none;
}

body>main>article>section>header>strong>a:hover {
    color:rgb(128, 40, 6);
    text-decoration: underline;
}

a.return {
    padding: 0.5rem;
    font: 1rem  Arial, Helvetica, sans-serif;

    background-color: rgb(250, 187, 166);
    border-radius: 5px;
}

a.return::before {
	content: '<';
}

form {
    background-color: rgb(250, 187, 116);
	padding: 1.5rem;
	border-radius: 30px;
	box-shadow: 0px 0px 5px 2px gray;
}

form legend {
	font: bold 1.5rem Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(47, 51, 54);
}

form label, form input {
	font: bold 0.75rem Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(47, 51, 54);
}

form fieldset {
    background-color: rgb(253, 229, 120);
    padding: 0.75rem 1.25rem;
    margin-bottom: 1.5rem;
}

form input:not([type="submit"], [type="reset"]) {
    border-width: 0.25rem;
    width: 100%;
    padding: 0.75rem 1.25rem;
    margin: 0.5rem 0;
    box-sizing: border-box;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #33bcdf;
    border: none;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0.25rem 0.125rem;
    cursor: pointer;
    border-radius: 10px;
}

details summary {
	padding: 1rem;
	font: normal 1.5rem 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

details ul.product-list {
    display: inline-block;
    list-style-type: circle; 
    list-style-position: inside;
    padding: 0;
}

details ul.product-list>li {
	font: normal 1rem 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

details ul.product-list:first-child {
    margin-top: 0rem;
}

/* ---------------------------------- */
/* --- ARTICLE.SINGLE-PRODUCT>NAV --- */
/* ---------------------------------- */

body>main>article.single-product>nav {
	padding: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;

	background-color: white;
	box-shadow: 0px 0px 5px 2px gray;

	position: sticky;
	top: 0rem;
}

body>main>article.single-product>nav>a {
	padding: 1rem;
	border-radius: 25px;
	background-color: rgb(202, 236, 244);
}

body>main>article.single-product>nav>a:link,
body>main>article.single-product>nav>a:visited {
	color: #0000EE;
	font: 2rem 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-decoration: none;
}

p.short-description {
	font: 1.5rem 'Times New Roman', serif;
}

p.extended-description {
	font: 1.0rem 'Times New Roman', serif;
    text-align: justify;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

span.product-code {
    font: italic 1rem 'Times New Roman', serif;
}

span.price {
	font: 3.5rem 'Times New Roman', serif;
}

.container{
    display:flex;
    flex-flow: row nowrap;
    border: 0.25em dotted rgb(153, 204, 255);
    height:50em;
    width:50em;
    margin: 1em;

}

h3{
    text-decoration: solid;
    font: 2rem "Lucida Console", "Courier New", monospace;
}

table, th, td {
    border: 1px solid;
}

/* TODO: replace this hacky code on Exercise3 */
/* https://stackoverflow.com/questions/218760/how-do-you-keep-parents-of-floated-elements-from-collapsing */
aside.left {
	float: left;
}

aside.right {
	float: right;
}

article>section::after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
}

/* ------------------- *
 * --- BODY>HEADER --- *
 * ------------------- */

/* https://stackoverflow.com/questions/32378953/keep-the-middle-item-centered-when-side-items-have-different-widths#answer-65610410 */
body>header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	grid-column: 1 / 4;
	grid-row: 1;

	background-image: linear-gradient(to bottom right, rgb(57, 126, 196), rgb(153, 204, 255));
}

body>header>a {
	flex-grow: 1;
	flex-basis: 0;
}

body>header::after {
	content: " ";
	flex-grow: 1;
	flex-basis: 0;
}

body>header>a>img {
	padding: 3rem;
	height: auto;
	width: 15rem;
	display: inline;
}

body>header>h1 {
	justify-self: center;

	font: bold 3rem "Times New Roman", serif;
	background: -webkit-linear-gradient(rgb(201, 137, 42), rgb(8, 1, 20));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* ---------------- *
 * --- BODY>NAV --- *
 * ---------------- */

/*body>nav, header nav * {
	display: block;
}*/

body>nav {
	padding: 1rem;
	grid-row: 2;
	grid-column: 1;
	display:flex;
	flex-direction: column;
	margin: 0 auto;
    font-size: 1.2rem;
	align-items: flex-start;

}

    body>nav a {
        text-decoration: none;
        padding: 1rem 1.5rem;
        border-radius: 3.5rem;
        display: inline-block;
	    font-family: "Lucida Console", "Courier New", monospace;
        background-color: rgb(208, 230, 245);
		margin: 1em;
		white-space: nowrap;
    }

    body>nav a:link, body>nav a:visited {
        color: black;
    }

body>nav a:hover, body>nav a:active {
    text-decoration: underline;
    background-color: rgb(65, 168, 236);
    color: white;
}

/* -------------- *
 * --- FOOTER --- *
 * -------------- */

footer {
	padding: 2rem;
	display: flex;
	flex-flow: row wrap;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;

	background: linear-gradient(to bottom, rgba(62, 77, 92, 0.83), rgba(116, 169, 223, 0.64)), url("https://w0.peakpx.com/wallpaper/964/736/HD-wallpaper-piano-keys-macro.jpg")  no-repeat center fixed;
	background-size: cover;
    grid-column: 1 / 4;
    grid-row: 3;
}

footer>* {
	margin: 0 1rem;
	display: inline-block;

	color: aliceblue;
	font: 1rem "Lucida Console", "Courier New", monospace;
}

footer>a>img {
	height: auto;
	width: 7rem;
}

footer>address {
	display: flex;
	flex-flow: column nowrap;
	flex-direction: column;
	align-items: flex-start;
}

footer>address>p {
	margin: 0.3rem 0;

	font-style: italic;
}

footer>address a:link, footer>address a:visited {
	color: navy;
	text-decoration: none;
}

footer>address a:hover, footer>address a:active {
	color: red;
	text-decoration: underline;
}

footer>section {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 1rem;
	justify-items: center;
	align-items: center;
}

footer>section>p {
	grid-row: 1;
	grid-column: 1 / 5;
}

footer>section>a>img {
	width: 3rem;
}

footer>a#top {
	text-decoration: none;
	font-size: 1.2rem;
}

